#menu {
  background-color:@menu-bg;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
  }
  li {
    flex: 0 0 auto;

    a {
      font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
      padding: @padding-default;
      display: inline-block;
      color: @menu-color;
      text-decoration: none;
      border-bottom:@menu-marker-size solid transparent;

      &:hover {
        background-color:@menu-bg-hover;
        border-bottom:@menu-marker-size solid @menu-marker-color;
        color: @menu-color-hover;
        text-shadow: 0 0 15px @cor-contraste;
      }
    }
  }
}