.secao {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: @padding-default;

  &#pais {
    background-color: @perfil-bg;
  }

  &#historia {
    background-color: @historia-bg;
  }

  &#doacao {
    background-color: @doacao-bg;
  }

  &#localizacao {
    background-color: @localizacao-bg;
    padding: 0;
  }

  &#confirmacao {
    background-color: @confirmacao-bg;
  }


  & > .col {
    flex: 0 0 auto;
    padding: @padding-default;
  }
}

.hero {
  background-image: url('../img/fundo.gif');
  background-attachment: fixed;
  height: 50vh;

  &:before {
    content: url('../img/urso-com-borda.svg');
    display: block;
    padding: 100px;
    text-align: center;
  }
}